<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "http://via.placeholder.com/250x300", alt: "Profile Image" %>
      </div>
      
      <div class="col-md-8">
        <p>I'm very new to coding and web design but eager to gain more experience and expand my knowledge. And don't forget to write more about yourself in this section later. Right now I can't think of anything good to write.</p>
        <p>I'll probably separate it into two paragraphs because I like how that looks. I'm really just trying to fill up the space with text at this point. So I can better imagine what it'll look like when I actually have something to say. This is pretty good. I'll make the paragraphs longer later.</p>
        
        <p>
          <button
            class="btn btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"
          >
            Job History
          </button>  
          
          <button
            class="btn btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controls="education"
          >
            Education
          </button>
        </p>
        
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Don't forget to fill this space in with your work experience!
            </div>            
            <div class="card card-block">
              This one too...
            </div>
          </div>
        </p> 
        
        <p>
          <div class="collapse" id="education">
            <div class="card card-block">
              Write down the different schools and programs you've been a part of.
            </div>            
            <div class="card card-block">
              Don't forget CAS and PUPs
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
