<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "http://via.placeholder.com/250x300", alt: "Profile Image" %>
      </div>
      
      <div class="col-md-8">
        <p>I'm very new to coding and web design but eager to gain more experience and expand my knowledge. And don't forget to write more about yourself in this section later. Right now I can't think of anything good to write.</p>
        <p>I'll probably separate it into two paragraphs because I like how that looks. I'm really just trying to fill up the space with text at this point. So I can better imagine what it'll look like when I actually have something to say. This is pretty good. I'll make the paragraphs longer later.</p>
      </div>
    </div>
  </div>
</div>
