<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "IMG_3497.jpg", alt: "Profile Image", width: '100%' %>
        
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  roles="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
                </div>
            </div>
          <% end %>
        </div>
      </div>
      
      <div class="col-md-8">
        <p>I'm very new to coding and web design but eager to gain more experience and expand my knowledge. This is the first website I have built. I'm currently learning Ruby on Rails. </p>
        <p>I'm a strong believer in learning through collaboration. Criticism is needed in order to improve. Learn with other people. Collaborate on ideas. Criticize each other. The end product will be much better.</p>
        <p>“Failure isn’t a necessary evil. In fact, it isn’t evil at all. It is a necessary consequence of doing something new.” —Ed Catmull</p>
        
        <p>
          <button
            class="btn btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"
          >
            Job History
          </button>  
          
          <button
            class="btn btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controls="education"
          >
            Education
          </button>
        </p>
        
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Yard work
            </div>            
            <div class="card card-block">
              Babysitting
            </div>
          </div>
        </p> 
        
        <p>
          <div class="collapse" id="education">
            <div class="card card-block">
              <h5>Provo High</h5>
              <p>I am currently attending Provo High School in my freshman year</p>
            </div>            
            <div class="card card-block">
              <h5>Code to Success</h5>
              <p>Graduated from a nine week coding course that included: HTML, CSS, JavaScript, and Ruby on Rails</p>
            </div>
            <div class="card card-block">
              <h5>Provo Unlimited Progress</h5>
              <p>Attended a full-time gifted magnet program for 7th and 8th grade</p>
            </div>
            <div class="card card-block">
              <h5>Center for Accelerated Studies</h5>
              <p>Attended a full-time gifted magnet program for 4th through 6th grade</p>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
