<div class="app-card-container">
  <div class="card">
    <h1>Contact Information</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3045.0751577028705!2d-111.69637804866586!3d40.251860979283464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d9a4114e38139%3A0xcb166a31140aca85!2s2051+Lakeview+Dr%2C+Provo%2C+UT+84604!5e0!3m2!1sen!2sus!4v1500387556406" width="375" height="375" frameborder="0" style="border: 1" allowfullscreen></iframe>
      </div>
      
      <div class="col-md-6">
        <h3>Address</h3>
        
        <p>2051 Lakeview Dr, Provo, UT 84604</p>
        
        <h3>Phone</h3>
        
        <p><%= number_to_phone "8013756308" %></p>
        
        <h3>Email</h3>
        
        <p><a href="mailto: oliviafrary1@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
      </div>      
    </div>
  </div>
</div>  